.form-radio {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  > label {
    font-weight: 600 !important;
  }

  label {
    font-weight: 500;
    margin-bottom: 6px;
  }

  .radio-options {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

    .radio-option {
      display: flex;
      align-items: center;
      cursor: pointer;

      input[type="radio"] {
        margin-right: 6px;
        cursor: pointer;
        margin-top: 0;
       
      }
    }
  }

  .error {
    color: #d9534f;
    font-size: 12px;
    margin-top: 4px;
  }
}