.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    form {
        min-width: 500px;
        padding: 70px 30px;
        background-color: #0A0739;
        border-radius: 7px;
        box-shadow: 5px 5px 25px #0A0739;

        button {
            padding: 1.3em 3em;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 2.5px;
            font-weight: 500;
            color: #fff;
            background-color: #272477;
            border: none;
            border-radius: 10px;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease 0s;
            cursor: pointer;
            outline: none;
            width: 100%;

            &:disabled {
                opacity: .6;
            }
        }
    }
}